.searchbar {
    width: auto;
    border-color: var(--color-tertiary) !important;
}
.search {
    position: relative
}
.search-icon {
    position: absolute;
    top: 1rem;
    right: 0;
    color: var(--color-tertiary);
    padding-right: 10px;
}
@media (max-width:480px) {
    .searchbar {
        width: 8rem;
    }
}